.cwt-testimonials.cwt-design-list_default {
  padding: 16px 0;
  display: flex;
}
.cwt-testimonials.cwt-design-list_default blockquote {
  border: none;
}
.cwt-testimonials.cwt-design-list_default .cwt-testimonial {
  display: flex;
  padding: 16px;
  width: 100%;
}
.cwt-testimonials.cwt-design-list_default .cwt-testimonial__body-wrapper {
  display: flex;
  width: 100%;
}
.cwt-testimonials.cwt-design-list_default .cwt-testimonial__body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cwt-testimonials.cwt-design-list_default .cwt-testimonial__content {
  padding: 48px;
}
.cwt-testimonials.cwt-design-list_default .cwt-testimonial__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 48px 48px 48px;
}
.cwt-testimonials.cwt-design-list_default .cwt-testimonial__image {
  border-radius: 50%;
  overflow: hidden;
  height: 70px;
  width: 70px;
}
.cwt-testimonials.cwt-design-list_default .cwt-testimonial__image img {
  width: 100%;
}
.cwt-testimonials.cwt-design-list_default .cwt-testimonial__meta {
  display: flex;
  flex-direction: column;
}
.cwt-testimonials.cwt-design-list_default .cwt-testimonial__edit a {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #879ea5;
  color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}
.cwt-testimonials.cwt-design-list_default .cwt-testimonial__edit a:before {
  content: "";
  width: 40px;
  height: 40px;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 518 518'%3E%3Cpath d='M497.7,286.27c1.94,0,3.77.4,5.67.57V220.9a42.37,42.37,0,0,1-5.67.57A66.85,66.85,0,0,1,459,100.06l-46-46c-1.51.72-2.83,1.39-4.28,2.09a66.8,66.8,0,0,1-127-29.09,62.56,62.56,0,0,1,2.19-15.45H232a62.1,62.1,0,0,1,2.19,15.45,66.86,66.86,0,0,1-127.76,27.7l-1.43-.7L60.43,98.66A66.91,66.91,0,0,1,23.6,221.47a59,59,0,0,1-9-.9V287a57.64,57.64,0,0,1,9-.76,67,67,0,0,1,67,67,66.68,66.68,0,0,1-32.88,57.34L105,457.92c2.59-1.24,5-2.41,7.36-3.6a66.89,66.89,0,0,1,121.83,38.22,59.39,59.39,0,0,1-1,7.83h49.45a57.76,57.76,0,0,1-1-7.83,66.77,66.77,0,0,1,120.47-39.87c3.44,1.7,7,3.46,10.79,5.27L460.89,410c-.2-.44-.39-.81-.6-1.24A67,67,0,0,1,497.7,286.27ZM259,339.89A83.89,83.89,0,1,1,342.89,256,83.89,83.89,0,0,1,259,339.89Z'/%3E%3C/svg%3E");
          mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 518 518'%3E%3Cpath d='M497.7,286.27c1.94,0,3.77.4,5.67.57V220.9a42.37,42.37,0,0,1-5.67.57A66.85,66.85,0,0,1,459,100.06l-46-46c-1.51.72-2.83,1.39-4.28,2.09a66.8,66.8,0,0,1-127-29.09,62.56,62.56,0,0,1,2.19-15.45H232a62.1,62.1,0,0,1,2.19,15.45,66.86,66.86,0,0,1-127.76,27.7l-1.43-.7L60.43,98.66A66.91,66.91,0,0,1,23.6,221.47a59,59,0,0,1-9-.9V287a57.64,57.64,0,0,1,9-.76,67,67,0,0,1,67,67,66.68,66.68,0,0,1-32.88,57.34L105,457.92c2.59-1.24,5-2.41,7.36-3.6a66.89,66.89,0,0,1,121.83,38.22,59.39,59.39,0,0,1-1,7.83h49.45a57.76,57.76,0,0,1-1-7.83,66.77,66.77,0,0,1,120.47-39.87c3.44,1.7,7,3.46,10.79,5.27L460.89,410c-.2-.44-.39-.81-.6-1.24A67,67,0,0,1,497.7,286.27ZM259,339.89A83.89,83.89,0,1,1,342.89,256,83.89,83.89,0,0,1,259,339.89Z'/%3E%3C/svg%3E");
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #2f2f2f;
}
@media all and (min-width: 768px) {
  .cwt-testimonials.cwt-design-list_default .cwt-testimonial__body {
    margin: 0;
  }
  .cwt-testimonials.cwt-design-list_default .cwt-testimonial__content-wrapper {
    flex: 1;
  }
  .cwt-testimonials.cwt-design-list_default .cwt-testimonial__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .cwt-testimonials.cwt-design-list_default .cwt-testimonial__meta {
    justify-content: initial;
    align-items: initial;
    padding-left: 16px;
  }
}
/*# sourceMappingURL=block-list_default.css.map */
